<div class="panel panel-default">
  <div class="panel-heading">
	  <h1><%= @poem.title %></h1>
  </div>

  <div class="panel-body">
  	<h3>Description: <%= @poem.metaphor %></h3>

		<h3>Content</h3>
		<p><%= @poem.content %></p>
	</div>
	
	<div class="panel-footer">	
		<h3>Author: <%=link_to @poem.author.name, author_path(@poem.author)%></h3>
		
		<h3>Tags</h3>
		<% @poem.tags.each do |tag| %>
			<span class="label label-primary"><%=tag.name.upcase%></span>
		<% end %>
	</div>
</div>
